     
label {
    display: block;
    float: left;
    width: 30%;
    text-align:right;
    margin-right: 10px;
    }
input {
    width: 40%;
    }
textarea {
    margin-top: 5px;
    width: 40%;
}

input[type=submit] {
    margin-top: 15px; 
    background-color:rgb(51, 110, 219);
    color:white;
    width: 300px; 
    margin-left: 40%;
}

.column {
    float: left;
    width: 40%;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
   
}