<!--TODO: extend page layout and add form-->
{% extends "index.html" %}

{% block title %}Add Shelter{% endblock %}

<!--TODO: add new link-->
{% block sidebar %}
  {{ block.super }}
  <a href="update_delete_shelters" class="w3-bar-item w3-button">Update/Delete Shelters</a>
{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-top: 100px;">Create Shelter</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="width: 800px; margin: auto; text-align: center;">
            <input type="submit" value="Save">
        </div>
    </form>

{% endblock %}