<!--TODO: extend page layout and add Update form-->
{% extends "index.html" %}

{% block title %}Update Shelter{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-top: 100px;">Update Shelter</h2>

    <form method="post">
        {% csrf_token %}
        <div style="text-align: center;">{{ form }}</div>
        <div style="width: 800px; margin: auto; text-align: center; margin-top: 15px;">
            <input type="submit" value="Update">
        </div>
    </form>

{% endblock %}