<!--TODO: extend page layout and add form-->

{% extends "index.html" %}

{% block title %}Contact Us{% endblock %}

<!-- TODO comment out the previous code and add the crispy tags -->
{% block content %}
  <!--  <h2 style="text-align: center; margin-top: 100px;">Contact Us</h2>
    
        <form action="contact" method="post">
            {% csrf_token %}
            {{ form }}
            <div style="width: 800px; margin: auto; text-align: center;">
                <input type="submit" value="Submit">
            </div>
        </form> -->

    <div style="margin-top: 50px;">
        {% load crispy_forms_tags %}
        {% crispy form form.helper %}
    </div>
    

{% endblock %}