<!-- TODO - Create the basic_layout.html template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{% block title %}Adopt A Dog Today{% endblock %}</title>
</head>
<body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
    <h3 class="w3-bar-item">Menu</h3>
        <div id="sidebar">
            {% block sidebar %}
                <a href="home" class="w3-bar-item w3-button">Home</a>
            {% endblock %}
        </div>
    </div>
    <!-- Page Content -->
    <div style="margin-left:25%">
        <div class="w3-container w3-teal">
            <h1 style="text-align: center;">Adopt A Dog Today</h1>
        </div>   
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>     
</body>
</html>