<!-- TODO - Add shelters generic listview -->
{% extends "index.html" %}


{% block content %}
    <h2 style="text-align: center; margin-top: 100px;">Shelter Names</h2>
    <div style="width: 850px; margin: auto; text-align: center; margin-top: 50px;">
        <ul>
            {% for get_shelters in my_shelter_list %}
                <!-- TODO - Add URL for shelter id to request correct path for DetailView  -->
                <a href="{{ get_shelters.get_absolute_url}}{{ get_shelters.id }}" >{{get_shelters.shelter_name}}</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}