<!-- TODO - Create the index.html template -->
{% extends "basic_layout.html" %}

{% block sidebar %}
  {{ block.super }}
  <a href="shelter_spotlight" class="w3-bar-item w3-button">Shelter Spotlight</a>
  <!-- TODO - Create the URL for the new template page shelter_list -->
  <a href="shelter_list" class="w3-bar-item w3-button">Shelters</a>
  <a href="contact" class="w3-bar-item w3-button">Contact Us</a>
  <!-- TODO - Create the URL for the new template page shelter_form -->
 
{% endblock %}

{% block content %}
  <h2 style="text-align: center; margin-top: 100px;">Welcome to Adopt A Dog Today!</h2>
  <div style="width: 850px; margin: auto; text-align: center; margin-top: 50px;">
    <p>We created this site to collect and list all of the dog shelters that exist within the United States. 
      By using our site you are now able to look at every dog within a shelter to find the perfect match for you.</p>
  </div>
  <div style="width: 850px; margin: auto; text-align: center; margin-top: 50px;">
    <h3>There are a total of <span style="color: red;"> {{ num_shelters }} </span> shelter(s) that have <span  style="color: red;"> {{ num_dogs }} </span> dog(s) ready for adoption.</h3>
  </div>
    
{% endblock %}