<!-- TODO - Add update and delete shelter lists below -->
{% extends "index.html" %}


{% block content %}

    <div class="row">
        <div class="column">
            <h2>Update Shelters</h2>
            <ul style="text-align: left; margin-left: 80px;">
                {% for get_shelters in current_shelter_list %}
                    <a href="{{ get_shelters.id }}/update" >{{get_shelters.shelter_name}}</a><br>
                    Location: {{get_shelters.shelter_location}}
                    <br><br>
                {% endfor %}
            </ul>
        </div>
        <div class="column">
            <h2>Delete Shelters</h2>
            <ul style="text-align: left; margin-left: 80px;">
                {% for get_shelters in current_shelter_list %}
                    <a href="{{ get_shelters.id }}/delete" >{{get_shelters.shelter_name}}</a><br>
                    Location: {{get_shelters.shelter_location}}
                    <br><br>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}